.hero {
    position: relative;
    height: 148px;
    left: 16px;
    padding: 0;
    gap: 16px;
    width: 328px;
}

.hero__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.hero__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 0;
}