@media screen and (min-width: 360px){
    .hero {
        position: relative;
        padding: 0;
        gap: 16px;
        margin-left: 16px;
        margin-right: 16px;
        
    }
    
    .hero__title {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
    }
    
    .hero__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin-top: 0;
    }
    
    .hero__networks {
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        font-weight: 600;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }
    
    .hero__networks a {
        text-decoration: none;
    }
    
    .hero__networks a:visited {
        color: #464646;
    }
}

@media screen and (min-width: 768px){
    .hero {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content:space-around;
        margin-top: 16px;
    }

    .hero__content {
        width: 524px;
    }
}

@media screen and (min-width: 1024px){
    .hero {
        margin-bottom: 93px;
        margin-left: 152px;
        margin-right: 152px;
        justify-content: space-between;
    }

    .hero__title {
        font-size: 52px;
        line-height: 61px;
    }

    .hero__content {
        width: 751px;
    }
}

