.hero {
    position: relative;
    padding: 0;
    gap: 16px;
    width: 328px;
    margin-left: 16px;
    margin-right: 16px;
    
}

.hero__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.hero__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 0;
}

.hero__networks {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.hero__networks a {
    text-decoration: none;
}

.hero__networks a:visited {
    color: #464646;
}