@media screen and (min-width: 360px) {
    .education__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
    }
    
    .education__content__img {
        height: 280px;
        width: 280px;
    }
    
    .education__content__title {
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .education__content__description {
        font-size: 14px;
        margin-bottom: 16px;
        margin-top: 0;
    }
}

@media screen and (min-width: 768px){
    .education__content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        grid-area: education;       
    }

    .education__content__card {
        display: grid;
        grid-template-areas: 
        "education-img"
        "education-title"
        "education-description";
        grid-template-columns: 100%;
        grid-template-rows: 200px auto auto;
        margin-top: 20px;
        padding: 1.3rem 1rem 0rem 1rem;
        width: calc(50% - 3rem);
    }

    .education__content__img {
        grid-area: education-img;
        height: 100%;
        width: 100%;
    }

    .education__content__title {
        grid-area: education-title;
    }

    .education__content__description {
        grid-area: education-description;
    }
}

@media screen and (min-width: 1024px){
.education__content {
    margin-top: -32px;
}

    .education__content__card {
        width: calc(33% - 3rem);
    }

    .education__content__description {
        margin-bottom: 0;
    }
}
