.input-same {
    border-radius: 4px;
    gap: 4px;
    height: 56px;
    width: 296px;
}

#msg {
    height: 133px;
    resize: none;
    width: 296px;
}

#btn-submit {
    background: #2A7AE4;
    color: #ffffff;
    height: 40px;
    width: 133px;
}