@media screen and (min-width: 360px) {
    form p {
        font-size: 16px;
    }
    
    .input-same {
        border-radius: 4px;
        gap: 4px;
        height: 56px;
        width: 296px;
    }
    
    #msg {
        height: 133px;
        resize: none;
        width: 296px;
    }
    
    #btn-submit {
        background: #2A7AE4;
        color: #ffffff;
        height: 40px;
        width: 133px;
    }    
}

@media screen and (min-width: 768px){
    .contact h2 {
        margin-bottom: 8px;
    }

    form p {
        margin: 3px;
    }
    
    .input-same {
        width: 100%;
    }
    
    #msg {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .contact h2 {
        font-size: 32px;
    }
}
