@media screen and (min-width: 360px) {
    .header {
        display: flex;
        justify-content:space-between;
        margin-left: 16px;
        margin-right: 16px;
    }    
}

@media screen and (min-width: 768px) {
    .header {
        height: 50px;
        margin-left: 32px;
        margin-right: 32px;
    }    
}

@media screen and (min-width: 1024px) {
    .header {
        height: 80px;
        margin-left: 152px;
        margin-right: 152px;
        margin-top: 16px;
    }
}