@media screen and (min-width: 360px) {
    .menu__list {
        display: flex;
    }
    
    .menu__item {
        display: none;
    }

    .menu__item a {
        color: #464646;
        text-decoration: none;
    }
    
    .menu__email {
        display: flex;
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .menu {
        display: flex;
        height: 50px;
    }
    
    .menu__item {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-right: 32px;
    }

    .menu__email {
        font-weight: 700;
    }
}