html {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    color: #464646;
}

body {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 18.5px;
}

.logo {
    margin-left: 1em;
}